
body{
    background: #35506B;
}

main{
    margin: 0 160px;
    display: flex;
    justify-content: center;
}

.logo-styles{
    width: 717px;
    height: 221px;
    display: flex;
    margin:20px auto;
}
.logo-styles img{
    width: 300px;
    height: 261px;
    margin: 0 auto;
}
.text-area-style{
    box-sizing: border-box;
    width: 717px;
    height: 531px;
    background: #1B212D;
    margin: 70px auto 20px auto;
    border-radius: 32px;
    display: flex;
    place-items: center;
    box-shadow: 10px 10px 20px black;
}
.text-area-style textarea{
    margin: 20px auto;
    width: 600px;
    height: 450px;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    Color: white;
    font-size: 30px;
}
.warning-style{
    display: flex;
    width: 717px;
    margin: 0 auto;
}
.warning-style img{
    width: 25px;
    height: 25px;
}
.warning-style p{
    margin: 0 15px;
    font-family: 'Inter';
    font-style: normal;
    color: white;
}
.style-button{
    width: 717px;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    font-weight: bold;
}
.style-button input{
    width: 239px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    box-shadow: 5px 5px 20px black;
}
.encrypt-button{
    background: #1B212D;
    color:white;
}
.decrypt-button{
    background: #E0DEDF;
}
.style-button input:hover{
    background: darkorange;
    transform: scale(1.2);
    transition: 400ms;
}
.encrypted-area{
    width: 400px;
    height: 898px;
    background: #1B212D;
    border-radius: 32px;
    margin: 69px 0 0 50px;
    display: grid;
    place-content: center;
    box-shadow: 10px 10px 20px black;
}
.encrypted-area p{
    text-align: center;
    color:#495057;
}

.encrypted-area  #mensaje{
    font-size: 25px;
}
footer{
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #1B212D;
    color: white;
}
.social-network{
    padding: 60px;
}
.social-network a img{
    width: 50px;
    height: 50px;
}
.social-network a{
    margin: 0 20px;
}

.social-network img:hover{
    transform: scale(1.2);
    transition: 400ms;
}
/*Responsive para Tablet*/
@media  screen and (max-width:865px){
    main{
        margin: 0 32px;
        display: block;
    }
    .text-area-style{
        width: 704px;
        height: 531px;
    }
    .text-area-style textarea{
        width: 587px;
        height: 450px;
    }
    .encrypted-area{
        width: 704px;
        height: 113px;
        margin: 0 auto 40px auto;
    }
    .imagen-no{
        display:none;
    }
}
/*Responsive para celular*/
@media  screen and (max-width:480px){
    main{
        width: 100%;
        margin: 0;
        display: block;
        justify-content: center;
    }
    .logo-styles{
        width: 343px;
        height: 221px;
        display: flex;
        margin: 0 auto;
    }
    .logo-styles img{
        width: 300px;
        height: 261px;
        margin: 20px  auto;
    }

    .text-area-style{
        width: 343px;
        height: 400px;
    }
    .text-area-style textarea{
        width: 200px;
        height: 300px;
    }
    .warning-style{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .style-button{
        width: 100%;
        display: grid;
        justify-content: center;
        font-weight: bold;
        font-size: 10px;
    }
    .encrypt-button{
        margin: 0 auto 30px auto;
    }
    .encrypted-area{
        width: 343px;
        height: 200px;
        margin: 0 auto 40px auto;
    }
    .imagen-no{
        display:none;
    }
    .social-network{
        display: grid;
        place-content: center;
    }
    .social-network a{
        margin: 0 0 20px 0;
    }
    .social-network a img{
        width: 60px;
        height: 60px;
    }
}